/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  margin: 0px;
  justify-content: center;
  background-color: gray;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  background-color: white;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-and-populaires a {
  text-decoration: none;
}

/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 1.875rem 3.125rem;
  align-items: flex-start;
}

.logo img {
  width: 3.81813rem;
  height: auto;
}

.menu {
  display: flex;
  padding: 0rem 3.125rem;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;
}

.menu .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4.25rem;
}

.btn a {
  text-decoration: none;
  color: #000;
  font-size: 16px; /* Taille du texte */
  padding: 10px; /* Espace autour du texte */
  display: block;
}

.btn.active a {
  border-top: 2px solid var(--main-color); /* Bordure bleue pour l'élément actif */

  color: var(--main-color);
}

/********** Main ***********/

main {
  padding: 0 50px;
  margin-top: 1.86rem;
  display: flex;
  padding: 0rem 3.125rem;
  flex-direction: column;
  /*align-items: flex-start;*/
  gap: 2.1875rem;
  align-self: stretch;
}

h1 {
  margin: 0px;
  color: #000;
  text-decoration: none;

  align-self: stretch;
  /* Title/Section */
  font-family: Raleway;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  margin: 0px;
  color: #000;
  align-self: stretch;

  /* Footer/Link */
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #000;
  text-align: center;
  text-decoration: none;

  /* Title/Filter */
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: var(--Black, #000);
  font-family: Raleway;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;

  height: 1.25rem;
  line-height: normal;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;
  align-self: stretch;
}

.headline {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.5rem;
}

.filterbar {
  display: flex;
  height: 3.125rem;
  align-items: center;
  gap: 0.9375rem;
}

.filterbar .i {
  width: 1.375rem;
  height: 1.375rem;
}

.filterbar .btn {
  display: flex;
  height: 2.6rem;
  padding: 0.25rem 1.1875rem;
  align-items: center;
  gap: 0.625rem;

  border-radius: 1.5625rem;
  border: 2px solid var(--Grey-Tint2, #d9d9d9);
}

.filterbar .btn.active {
  background: var(--Blue-Light, #deebff);
}

.infobar {
  display: flex;
  height: 1.5rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.infobar .subtitle {
  flex: 1 0 0;
  align-self: center;
}

.infobar img {
  width: 1.5rem;
  height: 1.5rem;
}

/********** Hébergements and populaires ***********/
.hebergements-and-populaires {
  display: flex;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

/****** Hebergements ***********/
.hebergements {
  display: flex;
  padding: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 0.9375rem;
  background: var(--Grey, #f2f2f2);
}

.hebergements-cards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.875rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.hebergements-cards .card {
  display: flex;
  width: 15.1875rem;
  padding-bottom: 0.4rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  /* Shadow/Card */
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.hebergements-cards img {
  height: 7.75rem;
  align-self: stretch;

  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.hebergements-cards .card-content {
  display: flex;
  padding: 0rem 0.85rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.hebergements-cards .card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.hebergements-cards .card-title {
  align-self: stretch;
  color: #000;
  text-decoration: none;
  margin: 0;

  /* Card/Title */
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  text-decoration: none;
}

.hebergements-cards .card-rating {
  display: inline-block;
}

.hebergements .more {
  margin: 0;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
  display: var(--fa-display, inline-block);
}

/********** Activity ***********/

.activity {
  display: flex;
  padding: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  align-self: stretch;
}

.activity-cards {
  display: flex;
  height: 27.4375rem;
  max-width: 80rem;
  align-items: flex-start;
  gap: 1.875rem;
  align-self: stretch;
}

.activity-cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 1.25rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activity-cards img {
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: url(./images/activites/reno-laithienne.jpg),
    lightgray 50% / cover no-repeat;
}

.activity-cards .card-content {
  display: flex;
  padding: 1.25rem 1.1875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  background: #fff;
}

.activity-cards .card-content h3 {
  align-self: stretch;
  color: #000;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1rem */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
